@use '~bootstrap/scss/bootstrap.scss' as *;

.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: $gray-100;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $blue-700;
  color: $white;
  height: 3rem;
  padding: 0 1rem;
}

.app-body {
  display: flex;
  flex-grow: 1;
  background: $white;
}
