@import '../node_modules/bootstrap/scss/bootstrap';

.app-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: $gray-100;
}

.app-main {
  display: flex;
  flex-grow: 1;
  background: $white;
  overflow: auto;
}

.app-body {
  display: flex;
  flex-grow: 1;
}

.app-menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 10rem;
  flex-shrink: 0;
  padding-top: 2rem;
  border-right: 1px solid $gray-300;

  .app-menu__nav-item {
    display: block;
    padding: 0.5rem 1rem;
    text-align: right;
    border-right: 4px solid transparent;

    &.active {
      border-right: 4px solid $blue-500;
      background: $gray-100;
    }
  }
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
