.app-post-new {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;

  .app-post-new__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;

    .app-c-textarea {
      min-height: 20rem;
    }
  }
}